In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
df = pd.read_csv('new11.csv')

In [3]:
df.head()

,Marital Status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,Dropout
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,Graduate
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,Dropout
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,Graduate
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,Graduate

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4424 entries, 0 to 4423
Data columns (total 37 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Marital Status                                  4424 non-null   int64
 1   Application mode                                4424 non-null   int64
 2   Application order                               4424 non-null   int64
 3   Course                                          4424 non-null   int64
 4   Daytime/evening attendance                      4424 non-null   int64
 5   Previous qualification                          4424 non-null   int64
 6   Previous qualification (grade)                  4424 non-null   float64
 7   Nacionality                                     4424 non-null   int64
 8   Mother's qualification                          4424 non-null   int64
 9   Father's qualification                          4424 non-null   int64
 10  Mother's occupation                             4424 non-null   int64
 11  Father's occupation                             4424 non-null   int64
 12  Admission grade                                 4424 non-null   float64
 13  Displaced                                       4424 non-null   int64
 14  Educational special needs                       4424 non-null   int64
 15  Debtor                                          4424 non-null   int64
 16  Tuition fees up to date                         4424 non-null   int64
 17  Gender                                          4424 non-null   int64
 18  Scholarship holder                              4424 non-null   int64
 19  Age at enrollment                               4424 non-null   int64
 20  International                                   4424 non-null   int64
 21  Curricular units 1st sem (credited)             4424 non-null   int64
 22  Curricular units 1st sem (enrolled)             4424 non-null   int64
 23  Curricular units 1st sem (evaluations)          4424 non-null   int64
 24  Curricular units 1st sem (approved)             4424 non-null   int64
 25  Curricular units 1st sem (grade)                4424 non-null   float64
 26  Curricular units 1st sem (without evaluations)  4424 non-null   int64
 27  Curricular units 2nd sem (credited)             4424 non-null   int64
 28  Curricular units 2nd sem (enrolled)             4424 non-null   int64
 29  Curricular units 2nd sem (evaluations)          4424 non-null   int64
 30  Curricular units 2nd sem (approved)             4424 non-null   int64
 31  Curricular units 2nd sem (grade)                4424 non-null   float64
 32  Curricular units 2nd sem (without evaluations)  4424 non-null   int64
 33  Unemployment rate                               4424 non-null   float64
 34  Inflation rate                                  4424 non-null   float64
 35  GDP                                             4424 non-null   float64
 36  target                                          4424 non-null   object
dtypes: float64(7), int64(29), object(1)
memory usage: 1.2+ MB

In [5]:
df.isnull().sum()

Marital Status                                    0
Application mode                                  0
Application order                                 0
Course                                            0
Daytime/evening attendance                        0
Previous qualification                            0
Previous qualification (grade)                    0
Nacionality                                       0
Mother's qualification                            0
Father's qualification                            0
Mother's occupation                               0
Father's occupation                               0
Admission grade                                   0
Displaced                                         0
Educational special needs                         0
Debtor                                            0
Tuition fees up to date                           0
Gender                                            0
Scholarship holder                                0
Age at enrollment                                 0
International                                     0
Curricular units 1st sem (credited)               0
Curricular units 1st sem (enrolled)               0
Curricular units 1st sem (evaluations)            0
Curricular units 1st sem (approved)               0
Curricular units 1st sem (grade)                  0
Curricular units 1st sem (without evaluations)    0
Curricular units 2nd sem (credited)               0
Curricular units 2nd sem (enrolled)               0
Curricular units 2nd sem (evaluations)            0
Curricular units 2nd sem (approved)               0
Curricular units 2nd sem (grade)                  0
Curricular units 2nd sem (without evaluations)    0
Unemployment rate                                 0
Inflation rate                                    0
GDP                                               0
target                                            0
dtype: int64

In [6]:
df.duplicated().sum()

0

In [7]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [8]:
le = LabelEncoder()

In [9]:
le = LabelEncoder()

df['target'] = le.fit_transform(df['target'])

In [10]:
df.head()

,Marital Status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,target
0,1,17,5,171,1,1,122.0,1,19,12,...,0,0,0,0,0.000000,0,10.8,1.4,1.74,0
1,1,15,1,9254,1,1,160.0,1,1,3,...,0,6,6,6,13.666667,0,13.9,-0.3,0.79,2
2,1,1,5,9070,1,1,122.0,1,37,37,...,0,6,0,0,0.000000,0,10.8,1.4,1.74,0
3,1,17,2,9773,1,1,122.0,1,38,37,...,0,6,10,5,12.400000,0,9.4,-0.8,-3.12,2
4,2,39,1,8014,0,1,100.0,1,37,38,...,0,6,6,6,13.000000,0,13.9,-0.3,0.79,2

In [11]:
df['Admission grade'].value_counts()

Admission grade
130.0    162
140.0    153
120.0    145
100.0    116
150.0     81
        ...
150.6      1
184.4      1
102.6      1
147.3      1
156.2      1
Name: count, Length: 620, dtype: int64

In [12]:
x = df.drop('target', axis=1)
y = df['target']

In [13]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=42)

In [16]:
len(x.columns)

36

In [ ]:
x_train

,Marital Status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
3383,4,7,1,9147,1,3,130.0,1,19,1,...,0,0,5,5,0,0.000000,0,11.1,0.6,2.02
2840,1,39,1,9085,1,1,130.0,1,37,37,...,0,0,6,14,2,11.333333,0,11.1,0.6,2.02
564,1,1,6,9070,1,6,119.0,1,1,1,...,0,0,6,8,6,13.625000,0,10.8,1.4,1.74
1786,2,39,1,9238,1,19,133.1,1,37,37,...,0,0,6,0,0,0.000000,0,15.5,2.8,-4.06
3900,1,1,3,9500,1,1,142.0,1,37,38,...,0,0,7,7,6,13.900000,0,7.6,2.6,0.32
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3444,1,1,2,9070,1,1,134.0,1,1,19,...,1,0,6,11,4,11.333333,0,13.9,-0.3,0.79
466,1,1,1,9853,1,1,133.0,1,1,38,...,0,4,8,8,8,12.625000,0,15.5,2.8,-4.06
3092,1,1,1,8014,0,1,100.0,1,38,19,...,0,0,6,6,6,12.500000,0,12.7,3.7,-1.70
3772,1,1,4,9238,1,1,127.0,1,1,38,...,0,0,6,7,6,13.428571,0,11.1,0.6,2.02
860,1,18,2,9119,1,1,136.0,1,1,2,...,0,0,5,9,3,13.250000,0,13.9,-0.3,0.79

In [ ]:
x_test

,Marital Status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,Father's qualification,...,Curricular units 1st sem (without evaluations),Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP
1255,4,39,1,9130,1,1,133.1,1,3,1,...,0,0,6,16,1,10.000000,0,11.1,0.6,2.02
3458,1,17,1,9238,1,1,125.0,1,4,3,...,0,0,6,8,6,12.142857,0,16.2,0.3,-0.92
3390,1,17,1,9853,1,1,133.0,1,38,38,...,0,0,7,7,7,12.285714,0,16.2,0.3,-0.92
1497,1,17,2,9670,1,1,110.0,1,1,1,...,0,0,6,8,5,13.000000,0,15.5,2.8,-4.06
1536,1,39,1,9500,1,1,130.0,1,37,19,...,0,0,7,14,0,0.000000,0,11.1,0.6,2.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3162,1,1,4,9500,1,1,136.0,1,19,38,...,0,0,8,8,7,14.328571,0,10.8,1.4,1.74
3281,2,7,1,8014,0,3,130.0,1,35,35,...,0,8,8,8,8,12.875000,0,10.8,1.4,1.74
436,1,17,1,9254,1,1,122.0,1,19,19,...,0,0,6,6,6,10.500000,0,12.4,0.5,1.79
1434,1,1,2,9500,1,1,130.0,1,1,38,...,0,0,8,11,6,12.875000,0,11.1,0.6,2.02
1361,1,1,4,9500,1,1,139.0,1,37,38,...,0,0,8,8,7,13.331429,0,10.8,1.4,1.74

In [ ]:
y_train

3383    0
2840    1
564     2
1786    0
3900    2
       ..
3444    0
466     1
3092    2
3772    2
860     0
Name: target, Length: 3539, dtype: int32

In [ ]:
y_test

1255    0
3458    2
3390    2
1497    2
1536    0
       ..
3162    2
3281    0
436     1
1434    1
1361    2
Name: target, Length: 885, dtype: int32

In [ ]:
len(x_train)

3539

In [ ]:
len(x_test)

885

In [ ]:
model = RandomForestClassifier()
model.fit(x_train, y_train)

RandomForestClassifier()

In [ ]:
y_pred = model.predict(x_test)

In [ ]:
y_pred

array([0, 2, 2, 2, 0, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 0, 2, 2, 0,
       0, 2, 2, 2, 0, 2, 1, 0, 2, 0, 0, 0, 0, 1, 2, 1, 2, 1, 0, 0, 1, 0,
       0, 2, 2, 2, 2, 2, 2, 2, 1, 0, 1, 0, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2,
       2, 2, 1, 0, 2, 2, 0, 1, 2, 2, 2, 1, 2, 2, 0, 0, 2, 0, 2, 0, 2, 2,
       2, 1, 0, 2, 2, 2, 0, 2, 0, 2, 0, 0, 2, 2, 1, 0, 0, 0, 2, 0, 1, 2,
       0, 2, 2, 2, 1, 2, 2, 2, 2, 0, 2, 0, 0, 2, 1, 0, 2, 0, 2, 2, 2, 2,
       2, 0, 2, 2, 0, 2, 0, 0, 1, 0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 0, 2,
       0, 2, 2, 2, 0, 2, 1, 2, 2, 2, 1, 2, 0, 1, 2, 0, 2, 2, 2, 2, 0, 2,
       1, 0, 2, 2, 0, 2, 0, 0, 2, 0, 0, 2, 2, 0, 2, 0, 0, 1, 2, 2, 2, 2,
       0, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 1, 2, 0, 2, 2, 2, 2, 2, 0, 0, 1,
       2, 2, 0, 2, 0, 0, 2, 0, 0, 2, 2, 0, 0, 0, 1, 0, 0, 2, 2, 2, 2, 0,
       0, 1, 2, 0, 0, 0, 2, 1, 2, 2, 2, 2, 2, 2, 0, 2, 2, 1, 2, 1, 0, 0,
       2, 2, 2, 2, 2, 0, 0, 2, 0, 0, 2, 2, 2, 1, 2, 2, 2, 2, 1, 0, 0, 1,
       1, 0, 1, 1, 0, 2, 0, 2, 2, 2, 0, 2, 0, 2, 2, 2, 1, 2, 0, 2, 2, 2,
       2, 2, 2, 0, 1, 2, 2, 2, 2, 0, 2, 2, 2, 0, 2, 0, 0, 2, 0, 1, 2, 2,
       2, 0, 2, 0, 2, 2, 1, 0, 2, 1, 2, 0, 0, 2, 0, 0, 0, 2, 1, 2, 2, 0,
       0, 1, 2, 0, 0, 2, 1, 2, 0, 2, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 0, 2,
       0, 2, 2, 0, 0, 0, 2, 2, 0, 0, 0, 2, 2, 2, 2, 0, 1, 0, 2, 1, 2, 0,
       2, 0, 1, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 1, 2,
       2, 2, 0, 0, 2, 2, 2, 1, 0, 0, 1, 0, 0, 0, 1, 2, 2, 0, 2, 0, 2, 2,
       2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 1, 1, 0, 0, 0, 1, 2, 0, 2, 0, 2, 2,
       2, 2, 2, 2, 0, 2, 0, 2, 0, 2, 2, 2, 2, 2, 2, 2, 1, 2, 0, 2, 2, 0,
       0, 0, 0, 0, 2, 2, 0, 1, 2, 1, 2, 2, 0, 0, 0, 2, 0, 2, 2, 0, 2, 2,
       2, 0, 2, 2, 1, 2, 1, 0, 2, 0, 2, 0, 1, 2, 2, 0, 2, 2, 0, 2, 0, 2,
       2, 2, 0, 0, 1, 2, 2, 1, 2, 0, 0, 0, 2, 0, 0, 2, 1, 2, 0, 2, 1, 2,
       0, 2, 0, 2, 2, 0, 2, 0, 2, 0, 2, 0, 2, 2, 2, 2, 0, 2, 0, 0, 0, 2,
       2, 0, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2, 0, 2, 2, 0, 2, 2, 2, 2, 2, 2,
       0, 2, 2, 2, 2, 0, 0, 2, 0, 2, 2, 0, 2, 1, 2, 2, 2, 0, 0, 2, 2, 2,
       1, 1, 0, 2, 1, 0, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 0, 0, 1, 0, 2, 2,
       1, 2, 2, 0, 0, 2, 0, 2, 1, 2, 0, 0, 2, 1, 2, 2, 0, 0, 2, 0, 0, 2,
       2, 1, 2, 0, 2, 0, 0, 2, 2, 2, 2, 1, 2, 2, 2, 0, 2, 1, 0, 0, 0, 2,
       2, 0, 0, 2, 0, 0, 2, 2, 0, 2, 2, 2, 2, 1, 2, 1, 2, 2, 2, 2, 0, 2,
       2, 1, 2, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 0, 2, 0,
       0, 0, 2, 2, 2, 1, 2, 1, 0, 2, 0, 0, 0, 0, 0, 2, 0, 1, 2, 2, 0, 2,
       2, 2, 2, 2, 2, 2, 2, 0, 2, 1, 2, 0, 0, 2, 2, 2, 2, 2, 0, 0, 2, 2,
       0, 2, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 0, 0, 1, 0, 2, 2, 2, 0, 0, 2,
       0, 0, 2, 2, 1, 0, 2, 0, 0, 2, 0, 0, 2, 0, 2, 2, 0, 2, 0, 2, 0, 1,
       0, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 1, 2, 2, 1, 0, 1, 2, 0, 0,
       1, 0, 0, 1, 2, 1, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2, 2, 0, 2, 1, 0, 0,
       1, 0, 2, 0, 0, 0, 2, 2, 1, 0, 2, 2, 0, 0, 0, 2, 2, 2, 1, 2, 1, 1,
       2, 0, 2, 2, 2])

In [ ]:
accuracy = accuracy_score(y_test, y_pred)

In [ ]:
accuracy

0.7604519774011299

In [ ]:
import pickle
with open('predictor.pickle','wb') as file:
    pickle.dump(model,file)

In [ ]:
import json

columns = list(x.columns)

with open("columns.json", "w") as f:
    json.dump(columns, f)